---
export const prerender = true;

import IngredientForm from "../components/IngredientForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SlumberChef - The Pokemon Sleep Cooking Calculator">
  <main class="flex justify-center">
    <IngredientForm />
  </main>
</Layout>
